

<h1>The Title PROPERTY of the OBJECT is:  {{title}}</h1>



<!--EDIT POSTS-->

{{#if isEditing}}

    <form>
        <div class="form-group">
            <label for="title">Title</label>

            {{input id="title" class="form-control" value=title}}

        </div>

        <div class="form-group">
            <label for="body">Body</label>

            {{textarea id="body" class="form-control" rows="15" value=body}}

        </div>

        <button class="btn btn-primary" {{action 'save'}}> Save </button>

    </form>

{{else}}

    <p>The body PROPERTY:  {{body}}</p>

    <button class="btn btn-primary" {{action 'edit'}}>Edit</button>

    <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

{{/if}}

<p>The tail PROPERTY: {{tail}}</p>

<h2>Comments</h2>

<!--explicitly state the property to loop through:  comments-->
{{#each comments}}

<p>{{text}}</p>

{{/each}}

<p>{{#link-to 'new-comment' this.id class="btn btn-default"}}New Comment{{/link-to}}</p>

{{outlet}}

